.guesser-menu-right {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 40rem;
	width: 6rem;
	margin-top: 3rem;
	background-color: var(--fg0);
	border-color: var(--bg0);
	border-style: solid;
	border-width: 3px 3px 3px 0px;
	border-radius: 0 1rem 1rem 0;
	box-shadow: var(--shadow);
}
.guesser-menu-gen-title {
	text-align: center;
	font-family: PokemonSolid;
	font-size: 1rem;
	letter-spacing: 3px;
	color: var(--yellow1);
	text-shadow: 1px 2px 0 var(--blue0);
	margin: 1rem 0;
}
.guesser-menu-gen {
	margin: 0 1.5rem 0.2rem 0.5rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 16rem;
	height: 3.7rem;
	font-family: PokemonSolid;
	color: var(--yellow1);
	text-shadow: 1px 2px 0 var(--blue0);
	font-size: 1rem;
}
.guesser-menu-gen-text {
	margin: 0.5rem;
	text-align: center;
	cursor: pointer;
	padding: 0.3rem 0;
	width: 3rem;
	border: 3px solid var(--bg0);
	user-select: none;
}
.guesser-menu-gen-starters {
	transition: width 0.5s;
	display: flex;
	flex-direction: row;
	width: 0.5rem;
	height: 3rem;
	overflow: hidden;
	background-color: var(--fg3);
	border: 1px solid var(--bg0);
	border-radius: 0 1rem 1rem 0;
	box-shadow: -3px 0px 1px 1px rgba(0,0,0,0.2) inset;
}
.guesser-menu-gen-text:hover + .guesser-menu-gen-starters {
	width: 10rem;
}
.guesser-menu-gen-starters img {
	display: inline;
}
