.guesser-menu-right {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 40rem;
	width: 6rem;
	margin-top: 3rem;
	background-color: var(--fg0);
	border-color: var(--bg0);
	border-style: solid;
	border-width: 3px 3px 3px 0px;
	border-radius: 0 1rem 1rem 0;
	box-shadow: var(--shadow);
}
.guesser-menu-gen-title {
	text-align: center;
	font-family: PokemonSolid;
	font-size: 1rem;
	letter-spacing: 3px;
	color: var(--yellow1);
	text-shadow: 1px 2px 0 var(--blue0);
	margin-top: 1rem;
}
.guesser-menu-gen {
	margin: 0 1.5rem 0.3rem ;
	display: flex;
	align-items: center;
	flex-direction: row;
	overflow: hidden;
	transition: width 0.5s;
	width: 2.5rem;
	font-family: PokemonSolid;
	font-size: 1rem;
	background-color: var(--bg0);
	color: var(--fg0);
}
.guesser-menu-gen-text{
	margin-left: 1rem;
	cursor: pointer;
}
.guesser-menu-gen-starters {
	margin-left: 1rem;
	display: flex;
	flex-direction: row;
	height: 3.8rem;
}
.guesser-menu-gen:hover {
	width: 14rem;
}

.guesser-menu-gen-starters img {
	display: inline;
}
