.pokedex-container {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 47rem;
	width: 50rem;
	align-items: center;
}

/* Sections sizes */
.pokedex-left-side,
.pokedex-right-side {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 24rem;
	border: 3px solid var(--bg0);
}
.pokedex-mid-section {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 2rem;
}
.pokedex-left-side-top,
.pokedex-mid-section-top,
.pokedex-right-side-top {
	height: 20%;
	width: 100%;
}
.pokedex-right-side-bottom,
.pokedex-mid-section-bottom,
.pokedex-left-side-bottom {
	height: 30%;
	width: 100%;
}
.pokedex-left-side-mid,
.pokedex-mid-section-mid,
.pokedex-right-side-mid {
	height: 50%;
	width: 100%;
}

/* Style mid section */
.pokedex-mid-section {
	background-color: var(--red0);
	border-top: 3px solid var(--bg0);
	border-bottom: 3px solid var(--bg0);
	border-right: 3px solid var(--bg0);
}
.pokedex-mid-section-top,
.pokedex-mid-section-bottom {
	display: flex;
}
.pokedex-mid-section-bot-junction,
.pokedex-mid-section-top-junction {
	position: relative;
	width: 100%;
	height: 1rem;
	border: 3px solid var(--bg0);
	background-color: var(--red0);
}
.pokedex-mid-section-bot-junction {
	top: -1.5rem;
}
.pokedex-mid-section-top-junction {
	top: 101%;
}

/* Style left panel */
.pokedex-left-side {
	background-color: var(--red0);
	border-radius: 1rem 0 0 1rem;
}
.pokedex-left-side-top-svg-container {
	position: absolute;
	/* border: 1px solid purple; */
	height: 20%;
	width: 23.5rem;
}

/* Left panel top side */
.pokedex-left-side-top {
	display: flex;
	flex-direction: row;
}
.pokedex-left-side-top-big-blue-light-container,
.pokedex-left-side-top-three-lights-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 35%;
}
.pokedex-left-side-top-big-blue-light {
	display: flex;
	height: 5rem;
	width: 5rem;
	align-self: center;
	margin: auto;
	border-radius: 50%;
	border: 3px solid var(--bg0);
	outline: 5px solid var(--fg0);
	background-color: var(--blue0);
}
.pokedex-left-side-top-big-blue-light-reflection {
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background-color: var(--blue1);
	margin: 20%;
}
.pokedex-left-side-top-three-light-red,
.pokedex-left-side-top-three-light-yellow,
.pokedex-left-side-top-three-light-green {
	display: flex;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin: 2.7rem 0 0 1rem;
}
.pokedex-left-side-top-three-light-red {
	border: 2px solid var(--bg0);
	outline: 3px solid var(--fg0);
	background-color: var(--red0);
}
.pokedex-left-side-top-three-light-yellow {
	border: 2px solid var(--bg0);
	outline: 3px solid var(--fg0);
	background-color: var(--yellow0);
}
.pokedex-left-side-top-three-light-green {
	border: 2px solid var(--bg0);
	outline: 3px solid var(--fg0);
	background-color: var(--green0);
}
.pokedex-left-side-top-three-light-red-reflection,
.pokedex-left-side-top-three-light-yellow-reflection,
.pokedex-left-side-top-three-light-green-reflection {
	height: 0.5rem;
	width: 0.5rem;
	border-radius: 50%;
	margin: 12%;
}
.pokedex-left-side-top-three-light-red-reflection {
	background-color: var(--red1);
}
.pokedex-left-side-top-three-light-yellow-reflection {
	background-color: var(--yellow1);
}
.pokedex-left-side-top-three-light-green-reflection {
	background-color: var(--green1);
}

/* Style right panel */
.pokedex-right-side {
	/* border-radius: 0 1rem 1rem 0; */
	border: none;
}
.pokedex-right-side-mid,
.pokedex-right-side-bottom {
	background-color: var(--red0);
}
.pokedex-right-side-mid {
    border-right: 3px solid var(--bg0);
    border-top: 3px solid var(--bg0);
    border-radius: 0 1rem 0 0;
}
.pokedex-right-side-bottom {
    border-right: 3px solid var(--bg0);
    border-bottom: 3px solid var(--bg0);
    border-radius: 0 0 1rem 0;
}

/* Right panel top */
.pokedex-right-side-top-svg-container {
	position: absolute;
	height: 20%;
	width: 23.5rem;
    display: flex;
}
.pokedex-right-side-top-svg {
	transform: scaleX(-1);
}

/* Left panel top side */
.pokedex-right-side-top {
	display: flex;
	flex-direction: row;
}
