.teste-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg0);
  color: var(--fg0);
  text-align: center;
  height: 8rem;
  width: 10rem;
  padding: 0.5rem;
}
.mono {
  font-family: JetBrainsMono;
}
.sanSerif {
  font-family: OnestSansSerif;
}
.serif {
  font-family: YoungSerif;
}