.app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.mono {
  font-family: JetBrainsMono;
}
.sanSerif {
  font-family: OnestSansSerif;
}
.serif {
  font-family: YoungSerif;
}